{{!-- This is Log Templete --}}
<style>
.console-output {
    background-color: #222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0;
    height: 670px;
    overflow-y: scroll;
    font-size: 12px;
}
.info {
    color: #fff;
}
.error {
    color: #eb3639;
}
</style>

<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Logs</h5>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body px-0 py-0">
			<div class="console-output">
				{{#each this}}
					<div class="{{log_type}}">
						<b>{{substr create_date 19}}</b>
						<b>[{{{set_log_type log_type}}}]</b>
						&nbsp;
						{{data}}
					</div>
				{{/each}}
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary operationsRunning">View Logs</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>