<form role="form" id="userInfo" enctype="multipart/form-data">
    {{#each result}}
    <div class="form-group">
        <label>{{this.name}}</label>
        <input class="form-control" name="{{this.name}}" type="{{this.type}}" value="{{this.value}}"  />
    </div>
    {{/each}}
</form>