<ul class="nav nav-pills nav-fill">
	<li class="nav-item"><a id="MDS_Setting" class="nav-link active">MDS Setting</a></li>
	<li class="nav-item"><a id="OSS_Setting" class="nav-link">OSS Setting</a></li>
	<li class="nav-item"><a id="Client_Setting" class="nav-link">Client Setting</a></li>
	<li class="nav-item"><a id="LNET_Setting" class="nav-link">LNET Setting</a></li>
	<li class="nav-item"><a id="Backup" class="nav-link">Backup</a></li>
	<li class="nav-item"><a id="Restore" class="nav-link">Restore</a></li>
</ul>