<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<!-- <typeAliases>
		<typeAlias type="com.xiilab.lustre.model.LustreNodesVO" alias="LustreNodesVO"/>
		<typeAlias type="com.xiilab.lustre.model.DiskInforVO" alias="DiskInforVO"/>
	</typeAliases> -->
	
<!-- 	<mappers> -->
<!-- 		<mapper resource="kr/co/nethru/dao/sql/user-manager.xml" /> -->
<!-- 	</mappers> -->
</configuration>