#lustre-setting-container{
	height: 600px;
	margin-bottom: 100px;
}
#fs-list-contailner {
	border-right: 1px solid #dee2e6 ;
	height: 100%;
}
#fs-list {
	height: 525px;
}
#fs-list span:hover{
	font-weight : bold;
}
#fs-buttons {
	padding: 1rem;
}
#fs-view {
	
}
#fs-menu {
	border-bottom: 1px solid #dee2e6 ;
}
#fs-menu ul.nav li.nav-item a {
	border-left: 1px solid #dee2e6 ;
}
#fs-menu ul.nav li.nav-item:first-child a {
	border-left: 0px ;
}
#fs-viwe-container {
	height: 525px;
}
#fs-add-nav {
	padding: 15px 0px;
	border: 1px solid #dee2e6 ;
}
#fs-add-nav .nav.nav-pills li.nav-item{
	margin-left: 15px;
    margin-right: 15px;
}
#fs-add-nav .nav.nav-pills li.nav-item:not(:first-child):after{
	content: '->';
	position: absolute;
	top: 22px;
    margin-left: -21px;
}
#fs-add-container {
	height: 545px;
}

#fs-menu a.nav-link{
	cursor: pointer;
}

#fs-view-container{
	height: 520px;
	overflow-y: scroll;
}


div#fs-list a[data-step="1"] ,
div#fs-list a[data-step="2"] ,
div#fs-list a[data-step="3"] ,
div#fs-list a[data-step="4"] 
{
	color: red;
}
div#fs-list a[data-step="4"] {
	color: black;
}
