<ul class="nav nav-pills">
  <li class="nav-item">
    <a data-step="step0" class="nav-link" href="#">Filesystem Name</a>
  </li>
  <li class="nav-item">
    <a data-step="step1" class="nav-link" href="#">MDS Setting</a>
  </li>
  <li class="nav-item">
    <a data-step="step2" class="nav-link" href="#">OSS Setting</a>
  </li>
  <li class="nav-item">
    <a data-step="step3" class="nav-link" href="#">Client Setting</a>
  </li>
  <li class="nav-item">
    <a data-step="step4" class="nav-link" href="#">Verify</a>
  </li>
</ul>