<div id="{{step}}" class="modal-dialog modal-flg">
	
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Add File System</h5>
			<button type="button" class="btn btn-primary btn-sm ml-3 operationsRunning" data-target=".bd-managerque-modal-lg">Operations Running</button>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" style="height: 670px;">
			<div id="fs-add-nav" class="col-12 mb-3">
				
			</div>
			<div id="fs-add-container" class="col-12 border px-3 py-3">
				<h5>Summary</h5>
				<form>
				  <div id="lustre_node" class="form-group row">
				    <label for="fs_name" class="col-2 col-form-label">File System Name</label>
				    <div class="col-10">
					    <input type="text" readonly class="form-control-plaintext" id="fs_name" value="{{fs_data.fs_name}}">
				    </div>
				  </div>
	  			</form>
			</div>
			
		</div>
		<div class="modal-footer">
			<button type="button" data-move-step={{move-step}} class="move-step btn btn-secondary">Prev</button>
			<button type="submit" class="btn btn-secondary">Done</button>
		</div>
	</div>
</div>