#tree{
	max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
    border: 1px solid #eee;
}


.btn-container{
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-bottom: 30px;
}

#content-body .panel-heading{
    height: 40px !important;
}

#content-body .panel-body{
    height: 510px;
    overflow-y: scroll;
}

#content-body .panel-footer{
    height: 50px !important;
}

.btn-default {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}