<div class="right_wrap pull-left" index="1">
  <div class="title_wrap">
    <div class="text">LustreFS</div>
  </div>
  <div class="cluster_wrap col-md-12">
    <div class="graph_wp">
      <iframe ng-src="{{ graph_url.lustre_1 }}"></iframe>      
    </div>
  </div>
</div>

<div class="right_wrap pull-left" index="2">
  <div class="title_wrap">
    <div class="text"></div>
  </div>
  <div class="cluster_wrap col-md-6">
    <div class="graph_wp">
      <iframe ng-src="{{ graph_url.lustre_6 }}" scrolling="no"></iframe>
    </div>
  </div>
  <div class="cluster_wrap col-md-6">
    <div class="graph_wp">
      <iframe ng-src="{{ graph_url.lustre_8 }}" scrolling="no"></iframe> 
    </div>
  </div>
</div>
<div class="right_wrap pull-left" index="3">
  <div class="title_wrap">
      <div class="text"></div>
    </div>
  <div id="lustre" class="contents_wrap container" >
    <div class="cluster_wrap col-md-12">
  <!-- <div id="lustre" class="contents_wrap" >
    <div class="cluster_wrap"> -->
      <div class="graph_wp ">
        <!-- <iframe src="http://192.168.1.194:3000/dashboard-solo/db/lustrefs?panelId=1&fullscreen&theme=light"></iframe> -->
        <iframe ng-src="{{ graph_url.lustre_7 }}" scrolling="no"></iframe>
      </div>
    </div>
    <!-- # cluster start #-->
    <div class="cluster_wrap col-md-6">
      <div class="graph_wp">
        <iframe ng-src="{{ graph_url.lustre_2 }}" scrolling="no"></iframe>
      </div>
    </div>
    <div class="cluster_wrap col-md-6">
      <div class="graph_wp">
        <iframe ng-src="{{ graph_url.lustre_3 }}" scrolling="no"></iframe>
      </div>
    </div>
    <div class="cluster_wrap col-md-6">
      <div class="graph_wp">
        <iframe ng-src="{{ graph_url.lustre_4 }}" scrolling="no"></iframe>
      </div>
    </div>
    <div class="cluster_wrap col-md-6">
      <div class="graph_wp">
        <iframe ng-src="{{ graph_url.lustre_5 }}" scrolling="no"></iframe>
      </div>
    </div><!-- # cluster end #-->





    <!-- <div class="cluster_wrap ">
      <div class="line_graph_wrap pull-left col-md-6">
        <iframe ng-src="{{ graph_url.lustre_2 }}"></iframe>
      </div>
      <div class="line_graph_wrap pull-right col-md-6">
        <iframe ng-src="{{ graph_url.lustre_3 }}"></iframe>
      </div>
      <div class="line_graph_wrap pull-left col-md-6">
        <iframe ng-src="{{ graph_url.lustre_4 }}"></iframe>
      </div>
      <div class="line_graph_wrap pull-right col-md-6">
        <iframe ng-src="{{ graph_url.lustre_5 }}"></iframe>
      </div>
      <div class="clearfix"></div>
    </div> -->

    
  </div>

</div>

<div class="clear"></div>
