
  <div class="right_wrap pull-left" >
    <div class="title_wrap">
      <!-- <div class="text">Name:bigcluster</div> -->
      <div class="text">Name:{{clusterName}}</div>
    </div>

    <div class="contents_wrap">

      <!-- # cluster start #-->
      <div class="cluster_wrap" data-index="1">
          <div class="cluster_info">
              <!-- <div class="cluster_detail">
                <div class="cluster_name"></div>
                <div class="cluster_detail_title">HDFS Usage</div>
                <div class="cluster_detail_desc"></div>
              </div> -->

            <div class="cluster_btn_wrap">
              <div class="cluster_btn_wp btn-group" data-toggle="buttons">
                <button class="btn cluster_btn" type="button" menu="cpu" >CPU</button>
                <button class="btn cluster_btn" type="button" menu="ram" >RAM</button>
                <button class="btn cluster_btn" type="button" menu="disk" >DISK</button>
                <button class="btn cluster_btn" type="button" menu="ni" >Network IN</button>
                <button class="btn cluster_btn" type="button" menu="no" >Network OUT</button>
                <!-- <label class="btn cluster_btn " menu="cpu">
                  <input type="checkbox" name="cpu" autocomplete="off" checked>CPU
                </label>
                <label class="btn cluster_btn " menu="ram">
                  <input type="checkbox" name="ram" autocomplete="off" >RAM
                </label>
                <label class="btn cluster_btn " menu="disk">
                  <input type="checkbox" name="disk" autocomplete="off" >DISK
                </label>
                <label class="btn cluster_btn " menu="ni">
                  <input type="checkbox" name="ni" autocomplete="off" >Network IN
                </label>
                <label class="btn cluster_btn " menu="no">
                  <input type="checkbox" name="no" autocomplete="off" >Network OUT
                </label> -->

                <!-- <div class="cluster_btn pull-left active" menu="cpu">CPU</div>
                <div class="cluster_btn pull-left active" menu="ram">RAM</div>
                <div class="cluster_btn pull-left active" menu="disk">DISK</div>
                <div class="cluster_btn pull-left" menu="ni">Network IN</div>
                <div class="cluster_btn pull-left" menu="no">Network OUT</div>
                <div class="clear"></div> -->
              </div>
              <div class="luster_btn pull-right" menu="luster"><i class="fa fa-check"></i>Luster</div>
              <div class="clearfix"></div>
            </div>

            <div class="cluster_node_wrap"></div>

            <!-- lustreFS start -->
            <div class="info_wrap luster_info_wrap">
              <div class="wrap_title luster_name">LustreFS Usage</div>
              <div class="info_wp luster_detail">
                <div class="line_graph_wrap col-md-12">
                  <iframe ng-src="{{ graph_url.lustre_1 }}" ></iframe>
                </div>
                <div class="line_graph_wrap col-md-6">
                  <div class="graph_wp">
                    <iframe ng-src="{{ graph_url.lustre_6 }}" scrolling="no"></iframe>
                  </div>
                </div>
                <div class="line_graph_wrap col-md-6">
                  <div class="graph_wp">
                    <iframe ng-src="{{ graph_url.lustre_8 }}" scrolling="no"></iframe> 
                  </div>
                </div>
                <div class="clearfix"></div>
                
              </div>
            </div><!-- lustreFS end -->

            <!-- yarn start -->
            <div class="info_wrap yarn_info_wrap">
              <div class="wrap_title yarn_name">YARN</div>
              <div class="info_wp yarn_detail">
                <!-- yarn content index_1 start -->
                <div class="contents_wrap " index="1">
                  <div class="title_wp">
                    <div class="text text-uppercase">CLUSTER STATUS</div>
                  </div>

                  <div class="content_wp row">
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.yarn_3 }}" scrolling="no"></iframe>
                      </div>
                      
                    </div>
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.yarn_10 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.yarn_6 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div><!-- yarn content index_1 end -->

                  <!-- yarn content index_2 start -->
                  <div class="cluster_wrap  " index="2">
                    <div class="title_wp">
                      <div class="text text-uppercase">application summary</div>
                    </div>
                    <div class="content_wp row" row="1">
                      <div class=" col-md-4 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_12 }}" scrolling="no"></iframe>
                        </div>
                      </div>
                      <div class=" col-md-4 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_11 }}" scrolling="no"></iframe>
                        </div>
                      </div>
                      <div class=" col-md-4 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_14 }}" scrolling="no"></iframe>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="content_wp row" row="2">
                      <div class=" col-md-4 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_13 }}" scrolling="no"></iframe>
                        </div>
                      </div>
                      <div class=" col-md-4 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_15 }}" scrolling="no"></iframe>
                        </div>
                      </div>
                      <div class=" col-md-4 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_16 }}" scrolling="no"></iframe>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div><!-- yarn content index_2 end -->

                  <!-- yarn index3 start -->
                  <div class="cluster_wrap " index="3">
                    <div class="content_wp row">
                      <div class=" col-md-12 ">
                        <div class="content">
                          <iframe ng-src="{{ graph_url.yarn_17 }}" scrolling="no"></iframe>
                        </div>
                      </div>  
                    </div>
                  </div><!-- yarn index3 end -->
                </div>
              </div>
            </div><!-- yarn end -->
            <!-- gpu start -->
            <div class="info_wrap gpu_info_wrap">
              <div class="wrap_title gpu_name">GPU</div>
              <div class="info_wp gpu_detail">
                <!-- gpu index1 start -->
                <div class="contents_wrap " index="1">
                  <div class="content_wp row">
                    <div class=" col-md-12 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_1 }}" scrolling="no"></iframe>
                      </div>
                    </div>  
                  </div>
                </div><!-- gpu index1 end -->

                <!-- gpu index2 start -->
                <div class="cluster_wrap  " index="2">
                  <div class="content_wp row" row="1">
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_2 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_3 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_4 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="content_wp row" row="2">
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_5 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_6 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class=" col-md-4 ">
                      <div class="content">
                        <iframe ng-src="{{ graph_url.gpu_7 }}" scrolling="no"></iframe>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div><!-- gpu index2 end -->
              </div>
            </div><!-- gpu end -->

          </div>
        </div>
      <!-- # cluster end #-->

    </div>

  </div>
