
					<div class="col-12 border">
						<div class="col-12 px-3 py-3">
							<div class="form-group col-12">
						      <label for="mdt">
						      	<span class="mds-hostname">
						      		master.hadoop.com
						      	</span>
						      	 MDT device and size
						      </label>
						      <div class="form-inline">
						      	<div id="save-mds-disk-infomation" style="display: none;">
						      		<input disabled class="form-control col-6" value="/dev/sdb1">
						      		<small class="ml-5">
							      		10G
							      	</small>
						      	</div>
						      	<select disabled id="mds-disk-name" class="form-control col-6">
							      	
							      </select>
							      <small id="mds-disk-info" class="ml-5">
							      	
							      </small>
						      </div>
						    </div>
						</div>
						
						<div class="col-12 px-3 py-3">
							<div class="form-group col-12">
						      <label for="mdt">
						       <span class="mds-hostname">
						      		master.hadoop.com
						      	</span>
						       IO network
						       </label>
						      <div class="form-inline">
						      	<select disabled id="mds-network-info" class="form-control col-6" disabled="disabled">
							      	
							      </select>
							      <small id="" class="ml-5">
							      	
							      </small>
						      </div>
						      
						    </div>
						</div>
						
						<div class="col-12 px-3 py-3" style="display: none;">
							<label for="mds-network-fullname">
								Network Option
							</label>
							<div class="form-group col-12">
								<div class="form-inline">
						      		<input disabled type="hidden" id="network_option" class="form-control col-6">
						      	</div>
							</div>
							
						</div>
						<!--
						<div class="col-12 px-3 py-3 text-right">
							<button type="button" id="mds-apply" class="btn btn-primary">Apply</button>
							<button type="button" id="mds-reset" class="btn btn-primary">Reset</button>
						</div>
						  -->
					</div>
				</div>