body {     min-width: 1280px; font-family: "Noto Sans", sans-serif; /*background-color: #f2f7fe;*/ background-color:#fff; letter-spacing: .5px; height: 100%;}

/*#header { width: 100%; background: #303d50; }
#header .container { padding: 0 20px; color: #fff; min-height: 50px; margin: 0;}
#header .logo { line-height: 50px; font-size: 1.4em; font-weight: bold; }
#header .logo a { color: #fff;  }
#header .user_mail { line-height: 50px; }*/
.clear { clear:both;float:none !important; }
.fl { float:left; }  
.containers { width: 1280px; margin: 0 auto; }
#header {     width: 100%;
    margin: 0 auto;
    border-bottom: 0px solid orange;
    /*background-color:#303d50;*/
    background-color:#3B3B3B;
    height:50px;
}
#header .logo { line-height: 50px; font-size: 1.4em; font-weight: bold; }
#header .logo a { color: #fff;  }


/*@media (min-width: 1200px){
      .container { width: 1280px; }
}*/
i { margin-right: 10px; }
img { width: 100%; height: 100%; }
.logo img { width: 25px; height: 25px;  margin-right: 10px; }
.logo a:hover {text-decoration: none; }

.container.content { width: 1280px; padding: 0 !important; position: relative; }

#nav { background-color: #fff;  padding: 0 20px; }
#nav li a { color: #009dcd; }
#nav li.active { border-bottom: 3px #708097 solid; }
#nav li.active a { color: #364347; }
#nav .navbar-nav>.active>a { background: none; }
.pd-0 {  padding: 0px !important;}
.mg-0 {  margin: 0px !important;}
.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nav_icon_wrap { margin-top: 15px;  }
.nav_icon { width: 15px; height: 15px; margin-right: 30px;    line-height: 50px;  }

.left_wrap { position: relative; height: 1350px; width: 21%; overflow: hidden; /*background-color: #303d50;*/ background-color:#F3F3F3; }
.left_wrap_btn {
    width: 20px;
    height: 50px;
    background: #303D50;
    position: relative;
    cursor: pointer;
} 
.left_wrap .left_wrap_title { border-bottom: 1px #596473 solid; color: #fff; font-size: 18px;  padding: 20px 30px; font-weight: bold; background-color:#5B5B5B;}
.left_wrap .graph_wrap { margin:0px 30px; padding: 30px 0px; border-bottom: 1px #596473 solid; }
.left_wrap .graph_wrap .graph_title { color: #000; float: left; width: 90%; }

.left_wrap .graph_wrap .bullet{  /*color: #fff;*/color:#50AB0F; font-size: .5em; vertical-align: middle;  float: left; width: 10%; line-height: 20px; }


/* left bar graph */
.left_wrap .graph_wrap .bar_graph { width: 100%; height: 20px;   background: #fff; }
.left_wrap .graph_wrap .bar_graph .value1 { height: 100%; float: left; }
.left_wrap .graph_wrap .bar_graph .value2 { height: 100%; float: left; }

.left_wrap .graph_wrap .graph_label { width:100%; text-align: center;     margin: 15px 0; color: #000; }
.left_wrap .graph_wrap .graph_label .value { font-size: 25px; }

.left_wrap .graph_wrap .bar_legend_wrap { width:100%;  margin-top: 20px; text-align: center; }
.left_wrap .graph_wrap .bar_legend_wrap .rect { display: inline-block; width: 10px; height: 10px; }
.left_wrap .graph_wrap .bar_legend_wrap .text { color: #000;  margin-left: 20px;   margin-right: 20px; font-size: 13px; line-height: 13px; }
.left_wrap .graph_wrap .bar_legend_wrap .text:last-child { margin-right: 0px; }

.left_wrap .graph_wrap #liveStatusBar .value1 { background: #95cc74; }
.left_wrap .graph_wrap #liveStatusBar .value2 { background: #ee5952; }

.left_wrap .graph_wrap #storageUsageBar .value1 { background: #009dcd; }
.left_wrap .graph_wrap #storageUsageBar .value2 { background: #fff; }

.left_wrap .graph_wrap #resourceHeapBar .value1 { background: #009dcd; }
.left_wrap .graph_wrap #resourceHeapBar .value2 { background: #95cc74; }

.left_wrap .graph_wrap #yarnMemoryBar .value1 { background: #009dcd; }
.left_wrap .graph_wrap #yarnMemoryBar .value2 { background: #95cc74; }

.left_wrap .graph_wrap #namenodeHeapBar .value1 { background: #009dcd; }
.left_wrap .graph_wrap #namenodeHeapBar .value2 { background: #fff; }
/* left bar graph */


.left_wrap .graph_wrap .con { padding-left: 10px; height: 85px; font-size: 14px; }
.left_wrap .graph_wrap .con_title { color: #fff;  float: left; }
.left_wrap .graph_wrap .con_val { text-align: right; }

.right_area { width:75%; float:left; margin-left:20px; }
.right_wrap { width: 100%; background-color: #fff; border: 1px #e4ebf1 solid; /*padding: 30px;*/}
.right_wrap .title_wrap { width:100%; height:45px; background-color:#F5F5F5; }
.right_wrap .title_wrap .text { line-height: 45px; font-size:14px; margin-left:20px; font-weight:bold; }




.right_wrap .contents_wrap { position: relative; /*margin:30px 30px 30px 30px;*/ }
.right_wrap .contents_wrap .cluster_wrap { overflow: hidden; position: relative; }
.right_wrap .contents_wrap .cluster_wrap.view_close { height: 200px;}

.right_wrap .contents_wrap .cluster_wrap:nth-child(even) .cluster_info { background-color: #fcf0da; border: 1px #fdd58b solid;}
.right_wrap .contents_wrap .cluster_wrap .cluster_info { width: 100%; height: 100%; border-radius: 5px; /*border: 1px #d3d3d3 solid;*/ /*background-color: #e9edf3;*/ padding: 30px; }
.right_wrap .contents_wrap .cluster_wrap .cluster_info .cluster_name { height: 30px; font-weight: bold;}
.right_wrap .contents_wrap .cluster_wrap .cluster_info .cluster_detail_title { font-weight: bold;}
.right_wrap .contents_wrap .cluster_wrap .cluster_info .cluster_detail_desc { font-size: 13px; }
.right_wrap .contents_wrap .cluster_wrap .view_more_btn {   
    position: absolute; right:0; bottom: 0px; width:100%; height: 35px; border-radius: 5px; border-top-left-radius: 0; border-top-right-radius: 0; border-top: 1px #d3d3d3 solid;
    color: #515f6a; background: #d9dee1; font-weight: bold; }
.right_wrap .contents_wrap .cluster_wrap:nth-child(even) .view_more_btn {  border-top: 1px #fdd58b solid; color: #d99b29; background: #fad899; }


.right_wrap .contents_wrap .cluster_wrap .cluster_btn_wrap { width: 100%; height: 40px; margin: 20px 0; }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn_wrap .cluster_btn_wp { /*width:80%;*/width:720px; float:left; /*border:1px solid #D4D4D4;*/ border-radius: 5px; }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn { /*background: #303d50;*/background:#F3F3F3; color: #000; text-align: center; line-height: 40px; cursor: pointer; }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn.active { /*background: #4686c7;*/ background:#5B5B5B; color:#ffffff;}
.right_wrap .contents_wrap .cluster_wrap .cluster_btn[menu=cpu] { width:20%; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-right: 1px #D4D4D4 solid; }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn[menu=ram] { width:20%; border-right: 1px #D4D4D4 solid;  }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn[menu=disk] { width:20%; border-right: 1px #D4D4D4 solid; }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn[menu=ni] { width:20%; border-right: 1px #D4D4D4 solid; }
.right_wrap .contents_wrap .cluster_wrap .cluster_btn[menu=no] { width:20%; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.right_wrap .contents_wrap .cluster_wrap .luster_btn[menu=luster] { /*background: #303d50;*/background:#58B527; color: #fff; text-align: center; line-height: 40px; width:17%; border-color: #2e6da4; border-radius: 3px; cursor: pointer; }
.right_wrap .contents_wrap .cluster_wrap .luster_btn.active { background: #4686c7; }

.right_wrap .contents_wrap .cluster_wrap .cluster_node_wrap { width: 100%; background: #fff; border: 1px #dde2e9 solid; padding: 30px; border-radius: 3px; padding-right: 10px; }
.right_wrap .contents_wrap .cluster_wrap .cluster_node { width: 80px; margin-right: 19px;  margin-bottom: 20px; }
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_name { text-align: center; color: #364347; }
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status { position:relative; height: 80px; border-radius: 5px; overflow: hidden;     border: 1px #d6d6d6 solid;}
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status{ 
  color: #364347; text-align: center; font-size: 11px; border-bottom: 1px #465871 solid;
 }
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status_icon { width: 13px; margin-right: 5px; } 
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status[data-status='1']{ background: #8BD540; } 
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status[data-status='2']{ background: #BFE74D; } 
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status[data-status='3']{ background: #FBF060; } 
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status[data-status='4']{ background: #EBB03B; } 
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status[data-status='5']{ background: #D05953; } 
.right_wrap .contents_wrap .cluster_wrap .cluster_node .node_status .status[data-status='default']{ background: #E6E6E6; } 

.right_wrap .contents_wrap .cluster_wrap .info_wrap { border-radius: 3px; margin-top: 40px; background: #fff; }
.right_wrap .contents_wrap .cluster_wrap .wrap_title { height: 30px; font-weight: bold; }
.right_wrap .contents_wrap .cluster_wrap .info_wp { font-size: 13px; border:1px solid #D4D4D4; padding:20px; }

.right_wrap .contents_wrap .cluster_wrap .luster_info_wrap { border-radius: 3px; margin-top: 40px; background: #fff; /*padding: 30px;*/ }
.right_wrap .contents_wrap .cluster_wrap .luster_name { height: 30px; font-weight: bold; }
.right_wrap .contents_wrap .cluster_wrap .luster_detail { font-size: 13px; border:1px solid #D4D4D4; padding:20px;}
.right_wrap .contents_wrap .cluster_wrap .luster_detail .fa-chevron-circle-right { color:#58B527; }
.right_wrap .contents_wrap .cluster_wrap .line_graph_wrap { /*width: 49%;*/ /*width:100%;*/ }
.right_wrap .contents_wrap .cluster_wrap .line_graph_title { margin-top: 20px;  font-weight: bold; }
.right_wrap .contents_wrap .cluster_wrap .line_graph { 
    width: 100%;
    background: #fff;
    border: 1px #dde2e9 solid;
    /*padding: 30px;*/
    border-radius: 3px;
    margin-top: 10px;
    height: 250px;

}
.right_wrap .title_wp { width:100%; height:30px; text-align:center; font-weight:bold; }

#line1, #line2, #line3, #line4 { height: 250px; }


.alerts_popover { position:absolute; background:#fff; box-shadow: 0 1px 13px rgba(0,0,0,.3); padding: 10px; width: 350px; border-radius: 3px; }
.alerts_popover .pop_title { font-weight: bold; font-size: 15px; margin-top: 5px; height: 35px; } 
.alerts_popover .pop_desc { color:#727b7e; background: #e3e3e3; padding: 15px; border-radius: 2px; font-size:12px; font-weight: bold; } 
.alerts_popover .pop_btn { margin-top: 15px;  } 
.alerts_popover .pop_btn a { color: white;  } 
.alerts_popover .pop_btn a:hover { text-decoration: none; } 
.alerts_popover .pop_desc .con_title { color: #000;     margin-top: 5px;  float: left; }
.alerts_popover .pop_desc .con_val { text-align: right; }

#line_tooltip {  background: #fff;  border: 1px #dde2e9 solid; padding: 10px; border-radius: 3px; }
#line_tooltip .name { }
#line_tooltip .value {  }

/* graph start */
.x.axis line { display: none; }
.bar { fill: steelblue; }
.legend text { font-size: 11px; }
.barChart text { fill: #fff; font-size: 12px; }
.barChart .axis line, .barChart .axis path { fill: none; stroke: #fff;  shape-rendering: crispEdges; } 

.line_graph .c3-grid line {  stroke: #E0E0E0; }
.line_graph .c3 path {  stroke: #8A8A8A; }

.cluster_structure text { font-size: 13px;  }
.cluster_structure .nodeContainer text.nodeInfo { color:#364347; font-size: 12px; }
.cluster_structure .nodeContainer text.nodeName {  color:#364347; font-size: 15px; }
/* graph end */

#loading {  
    position: fixed;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    background: url("../images/loading.gif") no-repeat;
    background-color:rgba(86, 86, 86, 0.8);
    z-index: 99;
    background-position: 50%;
    background-size: 120px;
}

